body {
    background-image: url("../images/versus.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 100vh;
    cursor: none;

}

ul,
p,
h1 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* header,
footer {
    padding: 30px 0;
    background-color: #000;
} */